<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::header('用户管理')"/>
<body>
<style>
    div, th {
        text-align: center;
    }
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    p {
        text-align: left;
    }
</style>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <h2 th:text="${data.orderName}">订单名称</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p>客户名称：&nbsp;<span th:text="${data.customerName}"></span></p>
            </div>
            <div class="col-xs-4">
                <p>&emsp;订单号：&nbsp;<span th:text="${data.orderNo}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p>送货地址：&nbsp;<span th:text="${data.deliveryAddress}"></span></p>
            </div>
            <div class="col-xs-4">
                <p>送货日期：&nbsp;<span th:text="${#dates.format(data.deliveryDate, 'yyyy-MM-dd')}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered" id="itemTable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>品名规格</th>
                        <th>预定数量</th>
                        <th>配送数量</th>
                        <th>单价（元）</th>
                        <th>金额（元）</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, status : ${data.orderItems}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${item.getItemName()}"></td>
                        <td th:text="${item.reserveNumber}"></td>
                        <td th:text="${item.deliveryNumber}"></td>
                        <td th:text="${item.unitPrice}"></td>
                        <td th:text="${item.amount}"></td>
                        <td th:text="${item.remark}"></td>
                    </tr>
                    <tr class="left">
                        <td colspan="5">合计金额（元）：</td>
                        <td class="center" th:text="${data.totalAmount}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p>订货电话：&nbsp;<span th:text="${data.orderPhone}"></span></p>
            </div>
            <div class="col-xs-8">
                <p>地址：&nbsp;<span th:text="${data.orderAddress}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p>客户签收：&nbsp;<span th:text="${data.signPerson}"></span></p>
            </div>
            <div class="col-xs-4">
                <p>送货人：&nbsp;<span th:text="${data.deliveryPerson}"></span></p>
            </div>
            <div class="col-xs-4">
                <p>开票人：&nbsp;<span th:text="${data.invoicePerson}"></span></p>
            </div>
        </div>
    </div>
</div>
<div th:include="include/footer::footer"></div>
<script th:src="@{/static/js/order/detail.js}"></script>
</body>
</html>
