<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script th:src="@{/static/libs/jquery.min.js}"></script>
    <script th:src="@{/static/libs/bootstrap.min.js}"></script>
    <script th:src="@{/static/libs/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/static/libs/jquery.toast.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/libs/echarts.min.js}"></script>
</div>
</body>
</html>