<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col-sm-3 col-md-2 sidebar" th:fragment="left-nav(active)">
    <ul class="nav nav-sidebar">
        <li th:class="${active == 'user'} ? 'active'"><a th:href="@{/view/user/list}">用户管理</a></li>
        <li th:class="${active == 'order'} ? 'active'"><a th:href="@{/view/order/list}">订单管理</a></li>
        <li th:class="${active == 'spec'} ? 'active'"><a th:href="@{/view/spec/list}">规格管理</a></li>
        <li th:class="${active == 'report'} ? 'active'"><a th:href="@{/view/order/report_form}">统计报表</a></li>
    </ul>
</div>
</body>
</html>
