<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.wms.dao.OrderInfoDao">
    <resultMap id="BaseResultMap" type="com.bs.wms.entity.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="order_name" jdbcType="VARCHAR" property="orderName"/>
        <result column="order_phone" jdbcType="VARCHAR" property="orderPhone"/>
        <result column="order_address" jdbcType="VARCHAR" property="orderAddress"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="delivery_person" jdbcType="VARCHAR" property="deliveryPerson"/>
        <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress"/>
        <result column="delivery_date" jdbcType="DATE" property="deliveryDate"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="sign_person" jdbcType="VARCHAR" property="signPerson"/>
        <result column="sign_status" jdbcType="TINYINT" property="signStatus"/>
        <result column="invoice_person" jdbcType="VARCHAR" property="invoicePerson"/>
        <result column="remake" jdbcType="VARCHAR" property="remake"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap id="OrderVOResultMap" type="com.bs.wms.vo.OrderInfoVO" extends="BaseResultMap">
        <collection column="{orderId=id}" select="com.bs.wms.dao.OrderItemDao.selectItemByOrderId" property="orderItems" ofType="com.bs.wms.entity.OrderItem"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_no, order_name, order_phone, order_address, company_name, customer_name, 
    delivery_person, delivery_address, delivery_date, total_amount, sign_person, sign_status, 
    invoice_person, remake, create_time, modify_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.bs.wms.entity.OrderInfo">
    insert into order_info (id, order_no, order_name, 
      order_phone, order_address, company_name, 
      customer_name, delivery_person, delivery_address, 
      delivery_date, total_amount, sign_person, 
      sign_status, invoice_person, remake, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR}, 
      #{orderPhone,jdbcType=VARCHAR}, #{orderAddress,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{deliveryPerson,jdbcType=VARCHAR}, #{deliveryAddress,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=DATE}, #{totalAmount,jdbcType=DECIMAL}, #{signPerson,jdbcType=VARCHAR}, 
      #{signStatus,jdbcType=TINYINT}, #{invoicePerson,jdbcType=VARCHAR}, #{remake,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.bs.wms.entity.OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="orderName != null">
                order_name,
            </if>
            <if test="orderPhone != null">
                order_phone,
            </if>
            <if test="orderAddress != null">
                order_address,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="deliveryPerson != null">
                delivery_person,
            </if>
            <if test="deliveryAddress != null">
                delivery_address,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="signPerson != null">
                sign_person,
            </if>
            <if test="signStatus != null">
                sign_status,
            </if>
            <if test="invoicePerson != null">
                invoice_person,
            </if>
            <if test="remake != null">
                remake,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderName != null">
                #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="orderPhone != null">
                #{orderPhone,jdbcType=VARCHAR},
            </if>
            <if test="orderAddress != null">
                #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="deliveryPerson != null">
                #{deliveryPerson,jdbcType=VARCHAR},
            </if>
            <if test="deliveryAddress != null">
                #{deliveryAddress,jdbcType=VARCHAR},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=DATE},
            </if>
            <if test="totalAmount != null">
                #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="signPerson != null">
                #{signPerson,jdbcType=VARCHAR},
            </if>
            <if test="signStatus != null">
                #{signStatus,jdbcType=TINYINT},
            </if>
            <if test="invoicePerson != null">
                #{invoicePerson,jdbcType=VARCHAR},
            </if>
            <if test="remake != null">
                #{remake,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bs.wms.entity.OrderInfo">
        update order_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderName != null">
                order_name = #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="orderPhone != null">
                order_phone = #{orderPhone,jdbcType=VARCHAR},
            </if>
            <if test="orderAddress != null">
                order_address = #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="deliveryPerson != null">
                delivery_person = #{deliveryPerson,jdbcType=VARCHAR},
            </if>
            <if test="deliveryAddress != null">
                delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=DATE},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="signPerson != null">
                sign_person = #{signPerson,jdbcType=VARCHAR},
            </if>
            <if test="signStatus != null">
                sign_status = #{signStatus,jdbcType=TINYINT},
            </if>
            <if test="invoicePerson != null">
                invoice_person = #{invoicePerson,jdbcType=VARCHAR},
            </if>
            <if test="remake != null">
                remake = #{remake,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bs.wms.entity.OrderInfo">
    update order_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR},
      order_phone = #{orderPhone,jdbcType=VARCHAR},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      delivery_person = #{deliveryPerson,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=DATE},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      sign_person = #{signPerson,jdbcType=VARCHAR},
      sign_status = #{signStatus,jdbcType=TINYINT},
      invoice_person = #{invoicePerson,jdbcType=VARCHAR},
      remake = #{remake,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="listOrder" resultMap="OrderVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_info
        ORDER BY id DESC
    </select>

    <select id="getOrder" resultMap="OrderVOResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_info
        where id = #{orderId}
    </select>
</mapper>